/*
body{
    margin:0 auto;
    width: 80%;
    background-color: #2222
}
*/
#form-render-content{
    padding: 10px;
}
.form-control-element-right{
    text-align: right;
}
.form-control-element-left{
    text-align: left;
}
.form-control-element-center{
    text-align: center;
}
